.plugin-navigation {
  width: 100%;
  padding: 10px;

  .menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    > .menu-item {
      width: 25%;
      padding: 10px;
      margin: 5px 0;

      @media #{$medium-and-down} {
        width: 50%;
      }

      @media #{$small-and-down} {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .menu-item {
          text-align: center;
        }
      }

      > a {
        display: inline-block;
        padding: 10px;
        font-size: 1.25rem;
        color: $text-secondary-color;
        font-weight: 600;
      }

      .sub-menu {
        list-style: none;

        > .menu-item {

          > a {
            display: inline-block;
            padding: 3px 10px;
            font-size: 1rem;
            color: $text-secondary-color;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $action-color;
            }
          }
        }
      }
    }
  }
}