.mix-field {
    width: 100%;
    display: flex;

    &.mix-field-column {
        flex-direction: column;
        justify-content: center;

        .mix-field-label {
            margin-bottom: 0.5em;
        }
    }

    &.mix-field-row {
        flex-direction: row;
        align-items: center;

        .mix-field-label {
            margin-right: 0.5em;
        }
    }

    &.mix-field-reverse {
        flex-direction: row-reverse;
        align-items: center;

        .mix-field-label {
            margin-left: 0.5em;
        }
    }

    &.mix-field-size-default {
        font-size: 1rem;
    }

    &.mix-field-size-large {
        font-size: 1rem;
    }

    &.mix-field-size-small {
        font-size: 0.75rem;
    }

    &.mix-field-state-inactive {
        color: color('blue');
    }

    &.mix-field-state-error {
        color: color('red');
    }

    &.mix-field-state-disabled {
        color: color('grey');
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.7;
    }
}