.mix-range {
    width: 100%;
    height: 2.25em;
    font-size: 1rem;
    position: relative;
    display: flex;
    align-items: center;

    .mix-range-wrapper {
        width: 100%;
        font-size: 1rem;
        position: relative;
        display: flex;
        align-items: center;

        .mix-range-filled {
            position: absolute;
            left: 0;
            height: 0.4em;
            border-radius: 1em;
            background: color('content');
            @include z-index(range, filled);

            .range-tooltip {
                height: 2em;
                padding: 0 0.8em;
                right: 0;
                bottom: 1em;
                position: absolute;
                display: flex;
                align-items: center;
                background: color('content');
                font-size: 0.75em;
                font-weight: 600;
                transform: translateX(50%);
                border-radius: 3em;
                color: color('shades', 'white');
                box-shadow: $mix-shadow-rounded-default;
            }
        }

        .mix-range-box {
            width: 100%;
            margin: 0;
            padding: 0;
            -webkit-appearance: none;
            outline: none;

            &::-ms-track {

            }

            &::-moz-range-track {

            }

            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 0.4em;
                border-radius: 1em;
            }

            &::-ms-thumb {

            }

            &::-moz-range-thumb {

            }

            &::-webkit-slider-thumb {
                width: 1em;
                height: 1em;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                border: 2px solid color('shades', 'white');
                background: color('content');
                border-radius: 50%;
                box-shadow: $mix-shadow-rounded-default;
                -webkit-appearance: none;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                @include z-index(range, thumb);
            }

            &:active {
                &::-webkit-slider-thumb {
                    width: 1.4em;
                    height: 1.4em;
                }
            }
        }
    }

    .mix-range-number {
        width: 5em;
        height: 100%;
        margin-left: 0.5em;
    }
}