.mix-select {
    width: 100%;
    height: 2.25em;
    display: flex;
    flex-direction: column;

    .mix-select-options-list {
        width: 100%;
        height: auto;
        max-height: 250px;
        position: absolute;
        font-size: inherit;
        top: 2.25em;
        margin-top: 0.25em;
        background: color('grey', 'lighten-4');
        box-shadow: $mix-shadow-down-default;
        overflow: auto;
        @include z-index(selectors, before);

        .mix-select-search {
            width: 100%;
            height: 3em;
            padding: 0 0.5em;
            outline: none;
            border: 2px solid color('blue');
        }

        .mix-select-option {
            width: 100%;
            font-size: inherit;
            padding: 0.5em;
            cursor: pointer;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &:hover {
                background: color('grey', 'lighten-2');
            }

            &.active {
                font-weight: 600;
            }
        }
    }

    .mix-input-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1em;

        .mix-select-value-item {
            font-size: 0.75em;
            margin-right: 0.5em;
            padding: 0.5em;
            border-radius: 0.25em;
            background: color('shades', 'white');
            box-shadow: $mix-shadow-rounded-default;
        }
    }
}