.mix-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    .mix-checkbox-label {
        margin: 0 0.5em;
        user-select: none;
    }

    input {
        display: none;

        & ~ {
            .mix-checkbox-mark {
                width: 1.25em;
                height: 1.25em;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0.15em solid currentColor;
                box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
                border-radius: 0.2em;
                transition: inherit;

                &:before {
                    content: '';
                    width: 0.6em;
                    height: 0.4em;
                    position: absolute;
                    top: 50%;
                    margin-top: -0.4em;
                    border-left: 0.2em solid color('shades', 'white');
                    border-bottom: 0.2em solid color('shades', 'white');
                    transform: rotate(-45deg) scale(0);
                    opacity: 0;
                    transition: inherit;
                }
            }

            .mix-checkbox-label {
                color: color('content');
                font-weight: 600;
                transition: inherit;
            }
        }

        &:checked ~ {
            .mix-checkbox-mark {
                background-color: currentColor;
                box-shadow: none;
                border: none;

                &:before {
                    opacity: 1;
                    transform: rotate(-45deg) scale(1);
                }
            }

            .mix-checkbox-label {
                color: currentColor;
            }
        }
    }
}