.mix-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    .mix-radio-label {
        margin: 0 0.5em;
        user-select: none;
    }

    input {
        display: none;

        & ~ {
            .mix-radio-mark {
                width: 1.25em;
                height: 1.25em;
                position: relative;
                border: 0.25em solid currentColor;
                box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
                border-radius: 50%;
                transition: inherit;

                &:before {
                    content: '';
                    width: 0.5em;
                    height: 0.5em;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    border-radius: 50%;
                    background-color: currentColor;
                    border: 0.25em solid color('shades', 'white');
                    transform: translate(-50%, -50%) scale(0);
                    opacity: 0;
                    transition: inherit;
                }
            }

            .mix-radio-label {
                color: color('content');
                font-weight: 600;
                transition: inherit;
            }
        }

        &:checked ~ {
            .mix-radio-mark {
                background-color: currentColor;
                box-shadow: none;
                border: none;

                &:before {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }

            .mix-radio-label {
                color: currentColor;
            }
        }
    }
}