.module-popular {
  width: 100%;

  .popular-wrapper {
    width: 100%;
    position: relative;
    padding: 10px;
    margin: 10px 0;

    .popular-title {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }

    .popular-header {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      text-align: center;
    }

    .popular-items {
      width: 100%;
      position: relative;
      padding: 10px;
      margin: 10px 0;
      border-top: $border-primary;
      border-bottom: $border-primary;
    }

    .popular-item {
      width: 100%;
      position: relative;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}