<script type="text/javascript" src="{$build_link}wappsnet/app.min.js"></script>
{if $widgets}
    <script type="text/javascript" src="{$build_link}widgets/assets/vendor.js"></script>
    <script type="text/javascript" src="{$build_link}widgets/assets/mix-search.js"></script>
{/if}
</body>