.plugin-post {
  width: 100%;
  max-width: 360px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $main-shadow-circle;

  .post-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;

    &:hover {
      .post-media {
        img {
          transform: scale(1.5);
        }
      }
    }

    .post-media {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        transform: scale(1);
        transition: $primary-transition;
      }
    }

    .post-info {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      display: flex;
      flex-direction: column;
      background: $text-secondary-color;

      .post-date {
        width: 100%;
        position: relative;
        padding: 10px;
        color: $secondary-color;
        font-size: 11px;
      }

      .post-title {
        width: 100%;
        position: relative;
        padding: 10px;
        color: $text-primary-color;
        font-size: 16px;
      }
    }
  }
}