@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

@mixin z-index($keys...) {
    $map: $typo-z-index;

    @each $key in $keys {
        $map: map-get($map, $key);
    }

    z-index: $map;
}