html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .mix-input {
    height: $input-height;
    border: $input-static-border;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;

    &:focus {
      border: $input-active-border;
    }
  }

  .mix-button {
    width: auto;
    height: $input-height;
    line-height: $input-height;
    padding: 0 20px;
    overflow: unset;
    border-radius: 5px;
  }
}