
.app-full {
  width: 100%;
  max-width: 3000px;
  margin: 0 auto;
}

.app-fill {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/*grid styles*/
.app-row {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.app-column {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  position: relative;
  min-height: 100%;

  &.large-12 {
    flex: 0 0 100%;
  }

  &.large-10 {
    flex: 0 0 83.33333%;
  }

  &.large-9 {
    flex: 0 0 75%;
  }

  &.large-8 {
    flex: 0 0 66.66667%;
  }

  &.large-6 {
    flex: 0 0 50%;
  }

  &.large-4 {
    flex: 0 0 33.33333%;
  }

  &.large-3 {
    flex: 0 0 25%;
  }

  &.large-2 {
    flex: 0 0 16.66667%;
  }

  &.middle-12 {
    @media #{$medium-and-down} {
      flex: 0 0 100%;
    }
  }

  &.middle-10 {
    @media #{$medium-and-down} {
      flex: 0 0 83.33333%;
    }
  }

  &.middle-9 {
    @media #{$medium-and-down} {
      flex: 0 0 75%;
    }
  }

  &.middle-8 {
    @media #{$medium-and-down} {
      flex: 0 0 66.66667%;
    }
  }

  &.middle-6 {
    @media #{$medium-and-down} {
      flex: 0 0 50%;
    }
  }

  &.middle-4 {
    @media #{$medium-and-down} {
      flex: 0 0 33.33333%;
    }
  }

  &.middle-3 {
    @media #{$medium-and-down} {
      flex: 0 0 25%;
    }
  }

  &.middle-2 {
    @media #{$medium-and-down} {
      flex: 0 0 16.66667%;
    }
  }

  &.small-12 {
    @media #{$small-and-down} {
      flex: 0 0 100%;
    }
  }

  &.small-10 {
    @media #{$small-and-down} {
      flex: 0 0 83.33333%;
    }
  }

  &.small-9 {
    @media #{$small-and-down} {
      flex: 0 0 75%;
    }
  }

  &.small-8 {
    @media #{$small-and-down} {
      flex: 0 0 66.66667%;
    }
  }

  &.small-6 {
    @media #{$small-and-down} {
      flex: 0 0 50%;
    }
  }

  &.small-4 {
    @media #{$small-and-down} {
      flex: 0 0 33.33333%;
    }
  }

  &.small-3 {
    @media #{$small-and-down} {
      flex: 0 0 25%;
    }
  }

  &.small-2 {
    @media #{$small-and-down} {
      flex: 0 0 16.66667%;
    }
  }
}

.column-wrapper {
  width: 100%;
  height: 100%;
  min-height: 250px;
  padding: 5px;
  display: flex;
  flex: 1;
}

.full-wrap {
  display: flex;
  min-height: 100%;
  flex: 1;
}


//blocks align styles
.align-center {
  display: flex;
  justify-content: center;
}

.align-left {
  display: flex;
  justify-content: flex-start;
}

.align-middle {
  display: flex;
  align-items: center;
}

.align-bottom {
  display: flex;
  align-items: flex-end;
}

.align-top {
  display: flex;
  align-items: flex-start;
}