// RESPONSIVENESS
@mixin respond-to($media) {
	@if $media == mobile {
		@media only screen and (max-width: 768px - 1) { @content; }
	}
	@else if $media == tabletportrait {
		@media only screen and (min-width: 768px - 1) and (max-width: 1024px - 1) { @content; }
	}
	@else if $media == tabletlandscape {
		@media only screen and (min-width: 1024px - 1) and (max-width: 1280px - 1) { @content; }
	}
	@else if $media == nondesktop {
		@media only screen and (max-width: 1280px - 1) { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: 1280px) { @content; }
	}
}