.app-side-nav {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .app-side-logo {
    width: 100%;
    height: $mobile-header-height;
    min-height: $mobile-header-height;
    padding: 10px;
    position: relative;
    background-color: $primary-color;

    img {
      width: auto;
      height: 100%;
      float: left;
    }
  }

  .app-side-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;

    .app-side-menu-item {
      width: 100%;
      padding: 10px;
      border-bottom: $border-primary;
    }
  }
}