//files and icons----------------
$theme_url: "/mix/wp-content/themes/wappsnet/";
$files_images: "#{$theme_url}assets/images/";
$files_fonts: "#{$theme_url}assets/fonts/";
$files_icons: "#{$theme_url}assets/images/icons/";
$files_tiles: "#{$theme_url}assets/images/tiles/";
$files_logo: "#{$theme_url}assets/images/tiles/";
//files and icons----------------


//typography colors
$primary-color: #3199da;
$secondary-color: #434343;
$minor-color: #7852db;
$action-color: #a256ff;
$white-color: #ffffff;
$empty-space-color: #f5f5f5;
$text-primary-color: #212121;
$text-secondary-color: #ffffff;
$text-tertiary-color: #3199da;
$chips-primary-color: #f1f1f1;
$cover-color: rgba(0, 0, 0, 0.5);


//typography sizes
$header-height: 60px;
$mobile-header-height: $header-height;
$input-height: 45px;

//typography shadows
$main-shadow-circle: 0 0 5px rgba(0, 0, 0, 0.5);
$main-shadow-top: 0 0 5px rgba(0, 0, 0, 0.5);
$main-shadow-bottom: 0 0 5px rgba(0, 0, 0, 0.5);
$main-shadow-left: 0 0 5px rgba(0, 0, 0, 0.5);
$main-shadow-right: 0 0 5px rgba(0, 0, 0, 0.5);

//typography borders
$border-primary: 1px solid #F5F5F5;
$border-secondary: 2px dashed #f1f1f1;
$input-static-border: 2px solid #dddddd;
$input-active-border: 2px solid #3199da;
$input-error-border: 2px solid #960211;

//transitions
$primary-transition: all 0.3s ease-in-out;