{{input type="checkbox"
        classNames="mix-checkbox"
        placeholder=this.placeholderValue
        checked=checked
        change=(action "changeValue")
}}
<span class="mix-checkbox-mark"></span>
<span class="mix-checkbox-label">
    {{#if yield}}
        {{yield}}
    {{else if label}}
        {{label}}
    {{/if}}
</span>