{{#if icon}}
    <div class="mix-input-icon place-{{icon.place}}">
        {{mix-icon name=icon.name}}
    </div>
{{/if}}

{{input classNames="mix-input-box"
        placeholder=placeholder
        name=name
        type=type
        value=value
        change=(action "changeValue" value)
        input=(action "changeValue" value)
}}