<div class="mix-range-wrapper">
    {{#if filled}}
        <div class="mix-range-filled"
             style="{{filled}}">
            <div class="range-tooltip">
                {{value}}
            </div>
        </div>
    {{/if}}

    {{input classNames="mix-range-box"
            type="range"
            min=min
            max=max
            step=step
            value=value
            input=(action "changeValue" value)
    }}
</div>

{{#if numberInput}}
    <div class="mix-range-number">
        {{mix-field/mix-number
                min=min
                max=max
                step=step
                value=value
                input=(action "changeValue" value)
        }}
    </div>
{{/if}}