{{input type="radio"
        classNames="mix-radio"
        name=name
        placeholder=this.placeholderValue
        checked=checked
        change=(action "changeValue")
}}
<span class="mix-radio-mark"></span>
<span class="mix-radio-label">
    {{#if yield}}
        {{yield}}
    {{else if label}}
        {{label}}
    {{/if}}
</span>