{{input classNames="mix-input-box"
        placeholder=placeholder
        name=name
        type=type
        value=value
        change=(action "changeValue" value)
        input=(action "changeValue" value)
}}