<div class="mix-input-icon place-right">
    {{#if opened}}
        {{mix-icon name="menu2"}}
    {{else}}
        {{mix-icon name="menu4"}}
    {{/if}}
</div>

<div class="mix-input-box">
    {{#if value.length}}
        {{#if multi}}
            {{#each value as |item|}}
                <div class="mix-select-value-item">
                    {{item.value}}
                </div>
            {{/each}}
        {{else}}
            {{get value "0.value"}}
        {{/if}}
    {{else}}
        {{{placeholder}}}
    {{/if}}
</div>

{{#if opened}}
    <div class="mix-select-options-list">
        {{#if search}}
            {{input classNames="mix-select-search"
                    readonly=readonly
                    placeholder=placeholder
                    type="search"
                    value=searchString
                    input=(action "changeValue" searchString)
            }}
        {{/if}}

        {{#each options as |item|}}
            <div class="mix-select-option {{if (get selected item.value) "active"}}"
                {{action "selectValue" item.value}}>
                {{{item.label}}}
            </div>
        {{/each}}
    </div>
{{/if}}