.footer-module {
  width: 100%;

  .footer-menu {
    width: 100%;
    background-color: $secondary-color;

    .footer-menu-wrapper {
      width: 100%;
    }
  }

  .footer-social {
    width: 100%;
    background: $minor-color;

    .footer-social-wrapper {
      width: 100%;
    }
  }

  .footer-apps {
    width: 100%;

    .footer-apps-wrapper {
      width: 100%;
      border-bottom: $border-primary;
    }
  }
}