$mix-shadow-down-default: 0 0.5em 1em -0.2em rgba(0, 0, 0, 0.5);
$mix-shadow-rounded-default: 0 0 0.2em rgba(0, 0, 0, 0.5);
$mix-shadow-rounded-big: 0 0 0.5em rgba(0, 0, 0, 0.5);
$mix-shadow-inset-default: inset 0 0 0.2em rgba(0, 0, 0, 0.5);
