//-------Z-INDEXES--------------------------
$typo-z-index: (
        selectors: (
                before: 1,
                after: 1,
        ),

        tooltip: (
                wrapper: 10,
                pointer: 1
        ),

        range: (
                filled: 1,
                thumb: 1
        )
);
//-------Z-INDEXES--------------------------