.module-search {
  width: 100%;
  min-height: 500px;
  position: relative;

  .primary-content {
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 10px;

    .primary-title {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      color: $text-secondary-color;
      text-align: center;
    }

    .secondary-title {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      color: $text-secondary-color;
      text-align: center;
    }

    .search-widget {
      width: 100%;
    }
  }
}