<div class="form-header"></div>

<div class="form-body">
    {{#mix-field/index}}
        {{mix-field/mix-input}}
    {{/mix-field/index}}

    {{#mix-field/index}}
        {{mix-field/mix-select
                items=modules
                multi=true
                search=true
        }}
    {{/mix-field/index}}

    {{#mix-field/index}}
        {{mix-field/mix-input}}
    {{/mix-field/index}}

    {{#mix-field/index}}
        {{mix-field/mix-input}}
    {{/mix-field/index}}

    {{#mix-field/index}}
        {{mix-field/mix-input}}
    {{/mix-field/index}}

    {{#mix-field/index}}
        {{mix-field/mix-input}}
    {{/mix-field/index}}

    {{#mix-field/index}}
        {{mix-field/mix-range
                max=100
        }}
    {{/mix-field/index}}

    {{#mix-field/index}}
        {{mix-field/mix-input}}
    {{/mix-field/index}}

    {{#mix-field/index}}
        {{mix-field/mix-input}}
    {{/mix-field/index}}

    <div class="submit-box">
        {{#mix-button clickBtn=(action "preview")}}
            {{"PREVIEW"}}
        {{/mix-button}}
    </div>

    <div class="submit-box">
        {{#mix-button}}
            {{"CREATE"}}
        {{/mix-button}}
    </div>
</div>

<div class="form-footer"></div>