.module-page {
  width: 100%;

  .page-header {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: $primary-color;

    .page-image {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      object-fit: cover;
    }

    .page-header-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $cover-color;
      z-index: 1;

      .page-title {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        color: $text-secondary-color;
        text-align: center;
      }
    }
  }

  .page-body {
    width: 100%;
    padding: 10px;
    margin: 50px 0;

    .page-content {
      width: 100%;
      padding: 20px;
      border: $border-secondary;
    }
  }
}