{{#if yield}}
    {{yield}}
{{else if items}}
    {{#each items as |item index|}}
        <div id="{{item.key}}"
             class="tab-item {{if (eq index this.activeIndex) "active"}}"
            {{action "changeTab" index}}>

            {{#if this.iconPlace}}
                {{mix-icon name=item.icon}}
            {{/if}}

            {{item.label}}
        </div>
    {{/each}}
{{/if}}