{{#if yield}}
    {{yield}}
{{else if items}}
    {{#each items as |item|}}
        <div class="mix-collapsible">
            <div class="mix-collapsible-header">
                {{#if item.icon}}
                    <span class="mix-collapsible-icon">
                        {{mix-icon name=item.icon}}
                    </span>
                {{/if}}
                {{item.label}}
            </div>
            <div class="mix-collapsible-body">
                {{item.content}}
            </div>
        </div>
    {{/each}}
{{/if}}