{{#if styles}}
    {{#ember-wormhole to=this.wrapperId}}
        <div id="tooltip-{{this.elementId}}"
             class="mix-tooltip mix-tooltip-{{this.direction}}"
             style="{{styles}}">
            {{yield}}
        </div>
    {{/ember-wormhole}}
{{/if}}