.plugin-social-icons {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;

  .social-link {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 50%;
    background: $primary-color;
    font-size: 18px;
    color: $text-secondary-color;
  }
}