.mix-btn {
    width: auto;
    display: flex;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.25rem;
    padding: 0 1.5em;
    min-height: 3em;
    color: color('shades', 'white');

    &:last-child {
        margin-right: 0;
    }

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }

    &.btn-large {
        font-size: 1.25rem;
    }

    &.btn-medium {
        font-size: 1rem;
    }

    &.btn-small {
        font-size: 0.85rem;
    }

    &.btn-primary {
        background-color: color('orange');
    }

    &.btn-secondary {
        background-color: color('blue-grey');
    }

    &.btn-subtle {
        background-color: color('grey');
        color: color('shades', 'dark');
    }

    &.btn-destroy {
        background-color: color('red');
    }

    &.btn-confirm {
        background-color: color('green');
    }

    &.btn-cancel {
        background-color: color('grey', 'lighten-2');
        color: color('shades', 'dark');
    }

    &.btn-standard {

    }

    &.btn-minimal {
        background-color: transparent;

        &.btn-primary {
            color: color('blue');
        }

        &.btn-secondary {
            color: color('blue-grey');
        }

        &.btn-subtle {
            color: color('grey');
        }

        &.btn-destroy {
            color: color('red');
        }

        &.btn-confirm {
            color: color('green');
        }

        &.btn-cancel {
            color: color('grey', 'lighten-2');
        }
    }

    &.btn-icon-right {
        .mix-icon {
            margin-left: 0.5em;
        }
    }

    &.btn-icon-left {
        .mix-icon {
            margin-right: 0.5em;
        }
    }
}