.mix-accordion {
    width: 100%;
    border: 1px solid color('grey', 'lighten-2');

    .mix-collapsible {
        width: 100%;
        height: 2.5em;
        max-height: 2.5em;
        overflow: hidden;
        background: color('shades', 'white');
        transition: all $mix-AnimateDurationFast linear;

        &.active {
            height: auto;
            max-height: 10em;

            .mix-collapsible-body {
                opacity: 1;
            }
        }

        &:last-child {
            &:not(.active) {
                .mix-collapsible-header {
                    border-bottom: none;
                }
            }

            .mix-collapsible-body {
                border-bottom: none;
            }
        }

        .mix-collapsible-header {
            width: 100%;
            height: 2.5em;
            display: flex;
            align-items: center;
            padding: 0 1em;
            background: color('grey', 'lighten-4');
            cursor: pointer;
            font-weight: 600;
            border-bottom: 1px solid color('grey', 'lighten-2');

            .mix-collapsible-icon {
                margin-right: 0.5em;
            }
        }

        .mix-collapsible-body {
            padding: 1em;
            opacity: 0;
            transition: inherit;
        }
    }
}