.mix-animate {

    //animate Durations
    &.animate-duration-fast {
        animation-duration: $mix-AnimateDurationFast;
    }

    &.animate-duration-default {
        animation-duration: $mix-AnimateDurationDefault;
    }

    &.animate-duration-slow {
        animation-duration: $mix-AnimateDurationSlow;
    }

    //zoom animations
    &.animate-type-zoomIn {
        animation-timing-function: ease-in-out;
        animation-name: zoomIn;

        &.animate-direction-up {
            animation-name: zoomInUp;
        }

        &.animate-direction-down {
            animation-name: zoomInDown;
        }

        &.animate-direction-left {
            animation-name: zoomInLeft;
        }

        &.animate-direction-right {
            animation-name: zoomInRight;
        }
    }


    //slide animations
    &.animate-type-slideIn {
        animation-timing-function: ease-in-out;

        &.animate-direction-up {
            animation-name: slideInUp;
        }

        &.animate-direction-down {
            animation-name: slideInDown;
        }

        &.animate-direction-left {
            animation-name: slideInLeft;
        }

        &.animate-direction-right {
            animation-name: slideInRight;
        }
    }
}