.mix-chip {
    padding: 0.5em;
    margin: 0.25em;
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 0.5em;
    background: color('blue');
    color: color('shades', 'white');
    box-shadow: $mix-shadow-rounded-default;
}