@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mix-spinner {
    position: relative;

    &.mix-spinner-large {
        width: 5rem;
        height: 5rem;
    }

    &.mix-spinner-medium {
        width: 3rem;
        height: 3rem;
    }

    &.mix-spinner-small {
        width: 2rem;
        height: 2rem;
    }

    &.mix-spinner-responsive {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .spinner-circle {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border-style: solid;
        border-width: 0.4rem;
        animation: rotateSpinner 0.5s infinite linear;
    }

    &.mix-spinner-grey {
        .spinner-circle {
            border-color: color('grey', 'lighten-5');
            border-left-color: color('grey');
        }
    }

    &.mix-spinner-orange {
        .spinner-circle {
            border-color: color('orange', 'lighten-5');
            border-left-color: color('orange');
        }
    }

    &.mix-spinner-blue {
        .spinner-circle {
            border-color: color('blue', 'lighten-5');
            border-left-color: color('blue');
        }
    }
}