.mix-tooltip-indicator {
    display: none;
}

.mix-tooltip {
    position: fixed;
    padding: 1em 2em;
    font-size: 0.75rem;
    font-weight: 600;
    color: color('shades', 'white');
    background-color: color('shades', 'black');
    border-radius: 0.5em;
    @include z-index(tooltip, wrapper);

    &:before {
        content: '';
        position: absolute;
        width: 0.8em;
        height: 0.8em;
        transform: rotate(45deg);
        background-color: color('shades', 'black');
        @include z-index(tooltip, pointer);
    }

    &.mix-tooltip-top {
        transform: translate(-50%, -150%);

        &:before {
            bottom: 0;
            left: 50%;
            margin-bottom: -0.4em;
            margin-left: -0.4em;
        }
    }

    &.mix-tooltip-left {
        transform: translate(-120%, -50%);

        &:before {
            top: 50%;
            right: 0;
            margin-top: -0.4em;
            margin-right: -0.4em;
        }
    }

    &.mix-tooltip-right {
        transform: translate(20%, -50%);

        &:before {
            top: 50%;
            left: 0;
            margin-top: -0.4em;
            margin-left: -0.4em;
        }
    }

    &.mix-tooltip-bottom {
        transform: translate(-50%, 50%);

        &:before {
            top: 0;
            left: 50%;
            margin-top: -0.4em;
            margin-left: -0.4em;
        }
    }
}