.tp-text {
    margin: 0;
    font-weight: normal;

    &.bold-text {
        font-weight: bold !important;
    }

    &.heading-1 {
        font-size: 6rem;
        letter-spacing: -0.09rem;
        line-height: 7.5rem;
    }

    &.heading-2 {
        font-size: 3.75rem;
        letter-spacing: -0.03rem;
        line-height: 4.5rem;
    }

    &.heading-3 {
        font-size: 3rem;
        line-height: 3.6rem;
    }

    &.heading-4 {
        font-size: 2.125rem;
        line-height: 2.5rem;
    }

    &.heading-5 {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    &.heading-6 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    &.subtitle-1 {
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: 0.009rem;
        line-height: 1.56rem;
    }

    &.subtitle-2 {
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.006rem;
        line-height: 1.5rem;
    }

    &.body-1 {
        font-size: 1rem;
        letter-spacing: 0.025rem;
        line-height: 1.75rem;
    }

    &.body-2 {
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: 0.015rem;
    }

    &.caption {
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0.025rem;
    }

    &.overline {
        font-size: 0.625rem;
        letter-spacing: 0.095rem;
        font-weight: 500;
        text-transform: uppercase;
    }
}