// Color Classes
@each $color_name, $color in $colors {
    @each $color_type, $color_value in $color {
        @if $color_type == "base" {
            .bg-#{$color_name} {
                background-color: $color_value !important;
            }
            .text-#{$color_name} {
                color: $color_value !important;
            }
        }
        @else if $color_name != "shades" {
            .bg-#{$color_name}-#{$color_type} {
                background-color: $color_value !important;
            }
            .text-#{$color_name}-#{$color_type} {
                color: $color_value !important;
            }
        }
    }
}