.mix-tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: color('content');
    transition: all 0.3s ease-in-out;

    .tab-item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: currentColor;
        padding: 0.5em 1em;
        font-weight: 600;
        font-size: 1em;
        cursor: pointer;
        border-bottom: 0.2em solid transparent;
        transition: inherit;

        &.active {
            color: color('blue');
            border-color: currentColor;
        }
    }

    &.mix-tabs-large {
        font-size: 1.25rem;
    }

    &.mix-tabs-medium {
        font-size: 1rem;
    }

    &.mix-tabs-small {
        font-size: 0.75rem;
    }

    &.mix-tabs-icon-top {
        .tab-item {
            flex-direction: column;

            .mix-icon {
                margin-bottom: 0.5em;
            }
        }
    }

    &.mix-tabs-icon-left {
        .tab-item {
            flex-direction: row;

            .mix-icon {
                margin-right: 0.5em;
            }
        }
    }

    &.mix-tabs-icon-right {
        .tab-item {
            flex-direction: row-reverse;

            .mix-icon {
                margin-left: 0.5em;
            }
        }
    }
}