html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    text-align: left;
    background: $mix-primary-color;

    input,
    select,
    button {
        font: 400 1rem 'Oswald', sans-serif;
    }

    * {
        box-sizing: border-box;
    }
}