.mix-form {
  width: 100%;
  max-width: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  .mix-field {
    margin-bottom: 1em;
    color: color("shades", "black");

    .mix-field-label {
      color: color("shades", "white");
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .submit-box {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}