.mix-logo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    img {
        height: 100%;
        width: auto;
    }
}