.preview {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;

  iframe {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
